body {
    background: lightseagreen;
}

h1 {
    width: 100%;
    text-align: center;
}

h2 {
    width: 100%;
    text-align: center;
}

.flex-container {
    display: flex;
    padding: 5px;
    background: rgb(136, 200, 202);
    height: 900px;
    width: 900px;
    margin: 50px auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.flex-container .card {
    height: 200px;
    width: 200px;
    margin: 10px;
}

.front {
    background: black;
    color: white;
}

.back {
    color: black;
}

.back img {
    height: 200px;
    width: 200px;
}

.cardButton {
    background: black;
    color: white;
    border-style: none;
    height: 100%;
    width: 100%;
    font-size: larger;
}
